{% extends "base.html" %}

{% block content %}
  <h1>{{ profile_user.username }}님의 프로필 페이지 입니다!</h1>
{% if profile_user.email %}
  <p>문의 메일 : {{ profile_user.email }}</p>
{% else %}
  <p>아직 이메일을 작성하지 않았습니다.</p>
{% endif %}
<hr>
{% if request.user == profile_user %}
  <a href="{% url "accounts:update" %}">[USER_UPDATE]</a>
  <form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="[SIGN_OUT]">
  </form>
{% endif %}
<hr>
<h3>{{ profile_user.username }}님이 선택한 사진(다이어리)들</h3>
<ul>
  {% for diary in like_diaries %}
  <li>
    {% if diary.picture %}
      <img src="{{ diary.picture.url }}" alt="{{ diary.picture }}">
    {% endif %}
    <p>{{ diary.content }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}


